*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #1B1B1B;
    color: #ffffff;
    width: 100vw;
    height: auto;
    
}

.container{
    padding: 0 100px;
}


/* navbar starts here */

.navbar{
    overflow: hidden;
    width: auto;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
}

.brand-name img{
    width: 40px;
    height: 40px;  
}

.nav-social{   
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.brand-image img{
    width: 24px;
    height: 24px;
} 

/* navbar ends here */

/* Hero section */

.hero_section{
    width: auto;
    height: 100vh;
    padding: 120px 0;
    text-align: center;
}

.hero{
    padding: 0 auto;
}

.hero h1{
    width: 88%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    color: #e2e2e2;

}

.hero p{
    width: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    margin: 0 auto;
    padding: 16px 0;
    color: #C8C8C8;


}



button{
    margin-top: 16px;
    height: 50px;
    width: 20%;
    border-radius:  20px 8px ;
    padding: 8px;
    border: none;
    background-image: url(Button\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500px;
}

.about{
padding: 150px 100px;
width: auto;
text-align: center;
}

.about_image{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    height: 750px;
}

.my_images{
    width: 32%;
    height: 450px;
}

.about_image :nth-child(2){
    margin: 280px 0 0 0;
}

.about_bio{
    width: 90%;
    margin: 150px 0 0 0 ;
}

.about_bio h3{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;

}

.about_bio p{
    padding: 24px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    letter-spacing: 0.1rem;
    
}

.about_bio .company_name{
    font-weight: 700;
    font-size: 20px;

}
.breaker_line{
    background-color: rgba(255, 255, 255, 0.1);
    height: 3px;
    width: 100%;
    
}

.project{
    width: auto;
    padding: 150px 100px;
}

.project h3{
font-family: Open Sans;
font-size: 30px;
font-weight: 600;
line-height: 41px;
letter-spacing: 0em;
text-align: left;

}

.projects_recent{
    display:flex;
    width: auto;
    gap: 24px;
    justify-content: space-between;
    padding: 40px 0;

}

.project_card{
    width: 35%;
    padding: 24px 0;

}
.project_card img{
    width: 100%;
 
}

.project_card h5{
    font-weight: 700;
    font-family: General Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.1em;
    text-align:left;
    padding:  8px 0 0;

 
}

.project_card p{
    font-family: General Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-align: left;

}






/* 



.about{
    display: flex;
    gap: 32px;
    padding: 80px 0;
} 
.about .my-picture{
    width: 30%;
    height: 350px;
   
 }
.about-info h4{
font-size: 25px;
padding: 0 0 24px 0;
letter-spacing: 0.2rem;
}

.about-info p{
    width: 92%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 8px 0;
}

.about-info .my-process{
    margin: 80px 0;
}
.my-process h2{
    font-size:25px;
    letter-spacing: 0.2rem;
}
.my-process .progress-card{
    padding: 40px 0 0 0;
    display: flex;
    gap: 16px;
}
.my-process .progress-card .card{
  border: 1px solid rgba(239, 239, 239, 0.20);
  border-radius: 10px;
  width: 45%;
  padding: 16px;
  background-color: #2C2C2C;
}

.my-process .progress-card .card h3{ 
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.my-process .progress-card .card p{ 
    font-size: 16px;
    line-height:26px ;
}






 */


/* Media query */

@media screen and (max-width: 880px) {
    /* .navbar a:not(:first-child) {display: none;} */
    
    .navbar a.icon {
      float: right;
      display: block;
    }
    /* .navbar .nav-social{
        display: none;
    } */
    
        
    .navbar{
        overflow: hidden;
        width: auto;
        display: flex;
        height: 80px;
        justify-content: space-between;
        padding: 24px 40px;
    }

    
    .brand-name img{
      width: 48px;
      height: 48px;  
    }
    
    .nav-items{
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
    .navbar .icon{
        align-self: center;
        width: 24px;
        height: 24px;
    }
    
    .hero-banner{
        width: auto;
        height: auto;
        padding: 50px 20px;
        text-align: center;
    }
    .hero-banner h1{
        padding-top: 24px;
        width: auto;
        font-family: General Sans;
        font-size: 30px;
        font-weight: 600;
        line-height: 53px;
        text-align: center;
        margin: 0 auto;
        color: #e2e2e2;
    
    }
    .hero-banner p{
        width: 75%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-align: center;
        margin: 0 auto;
        padding: 24px 0;
        color: #C8C8C8;
    
    
    }
    button{
        margin-top: 24px;
        height: 50px;
        width: 30%;
        border-radius:  20px 8px ;
        padding: 8px;
        border: none;
        background-image: url(Button\ bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500px;
    
    }
    
  
}




/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */ 

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}